* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-color: #788bf7;
  /* background-image: linear-gradient(to right, #788BF7, silver); */
  padding: 0 !important;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  color: aliceblue !important;
  font-weight: 600;
  float: right;
}

#hero-banner {
  background: #788bf7;
  color: aliceblue;
  padding-top: 5%;
}

.banner-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 50px;
}

.navbar a.navbar-brand {
  color: #224467 !important;
  font-weight: 700;
}
